# TESUnity Configuration File

[Global]
PlayMusic = True
MorrowindDataPath = D:\Jeux\SteamLibrary\steamapps\common\Morrowind\Data Files

[Rendering]
; Forward, Deferred or Lightweight
RenderPath = Deferred
; PBR, Simple, Unlit
Shader = PBR
CameraFarClip = 500
# 0 = Normal / 1 = Reflective / 2 = Refractive
WaterQuality = 0
; A value between 0.1 and 4 (> 1 = something like super sampling)
RenderScale = 1.0
; If Lightweight is defined, controls the quality. 0 = Low / 1 = Medium / 2 = High
SRPQuality = 2

[Lighting]
AnimateLights = True
SunShadows = True
LightShadows = False
RenderExteriorCellLights = True
DayNightCycle = True
GenerateNormalMap = True
NormalGeneratorIntensity = 5

[Effects]
# 0 = Disabled / 1 = FXAA / 2 = SMAA (not supported in VR) / 3 = TAA
AntiAliasing = 3
# 0 = Disabled / 1 = Low / 2 = Medium / 3 = High
PostProcessQuality = 3
WaterBackSideTransparent = False

[VR]
FollowHeadDirection = True
RoomScale = False
ForceControllers = True
XRVignette = False

[Debug]
CreaturesEnabled = False
